::-webkit-scrollbar {
	width: 10px;
	background-color: rgb(197, 199, 201);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(36, 97, 155);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(146, 146, 146);
}
